{% extends "carRental/base.html" %}
{% block content %}
<h1> Add a Car </h1>
<form method="POST" action="/addCar">
    {% csrf_token %}

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br>

    <label for="type">Types:</label>
    <select id="type" name="type" required>
        {% for type in types %}
        <option value="{{type}}">{{type}}</option>
        {% endfor %}
    </select><br>

    <label for="engine">Engines:</label>
    <select id="engine" name="engine" required>
        {% for engine in engines %}
        <option value="{{engine}}">{{engine}}</option>
        {% endfor %}
    </select><br>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" required><br>

    <select id="currency_code" name="currency_code" required>
        {% for currency in currencies %}
            <option value="{{currency.code}}">{{currency.code}}</option>
        {% endfor %}
    </select><br>

    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" name="manufacturer" required><br>

    <label for="model_name">Model Name:</label>
    <input type="text" id="model_name" name="model_name" required><br>
    
    <label for="number_of_seats">Number of Seats:</label>
    <input type="number" id="number_of_seats" name="number_of_seats" required><br>

    <input type="submit" value="Add Car">
</form>

{% endblock %}