<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../static/carRental/styles.css">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Car Rental </title>
    {% endif %}
    <style>
        nav {
            background-color: #333;
            padding: 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }

        nav a:hover {
            text-decoration: underline;
        }


        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #428bca;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <main>
        <nav>
            <a href="/">Home</a>
            <a href="/search">Rent</a>
            <a href="/cars">Cars</a>
            <a href="/addCar">Add a Car for Rent</a>
            <a href="/lookup"> Booking Lookup </a>
        </nav>

        {% block content %}{% endblock %}

    </main>
</body>

</html>