{% extends "carRental/base.html" %}
{% block content %}

<h1>Booking Lookup</h1>
<form method="post" action="/lookup">
    {% csrf_token %}
    <label for="booking_id">Booking ID:</label>
    <input type="text" name="booking_id">
    <input type="submit" value="Lookup">
</form>


{% endblock %}



