{% extends "carRental/base.html" %}
{% block content %}

<h1>Booking Details</h1>
<p>Booking ID: {{ booking.id }}</p>
<p>Booking Start Date: {{ booking.start_date }}</p>
<p>Booking End Date: {{ booking.end_date }}</p>


<p> Car Model: {{ booking.car.model.manufacturer }} {{booking.car.model.model_name}} </p>
<p> Car Type: {{ booking.car.type }} </p>
<p> Car Engine: {{ booking.car.engine }} </p>
<p> Location: {{ booking.car.location.city_name }} </p>
<p> Paid: {{ booking.car.price }} {{ booking.car.currency.name }} </p>
<p> Number of Seats: {{ booking.car.model.number_of_seats }}</p>





{% endblock %}



