{% extends "carRental/base.html" %}
{% block content %}

<h1>Car List</h1>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Engine</th>
            <th>Price</th>
            <th>Currency</th>
            <th>Model</th>
            <th>Number of Seats</th>
            <th>Location</th>
            {% if start_date %}
                <th>Book</th>            
            {% endif %}

        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.type }}</td>
            <td>{{ car.engine }}</td>
            <td>{{ car.price }}</td>
            <td>{{ car.currency.name }}</td>
            <td>{{ car.model.manufacturer }} {{car.model.model_name}}</td>
            <td>{{ car.model.number_of_seats }}</td>
            <td>{{ car.location.city_name }}</td>
            {% if start_date %}
            <td>
                <a href="/rent/{{start_date}}/{{end_date}}/{{car.id}}" class="btn"> Rent Me! </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}



