{% extends "carRental/base.html" %}
{% block content %}


    <h1>Car Search</h1>

    <form action="/search" method="POST">
        {% csrf_token %}
        <label for="city">City:</label>
        <select id="city" name="city">
            {% for city in cities %}
            <option value="{{city.id}}">{{city.city_name}}</option>
            {% endfor %}
        </select><br>
        
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required><br>
        
        <label for="price_min">Minimum Price:</label>
        <input type="number" id="price_min" name="price_min"><br>
        
        <label for="price_max">Maximum Price:</label>
        <input type="number" id="price_max" name="price_max"><br>
        
        <label for="number_of_seats">Number of Seats:</label>
        <input type="number" id="number_of_seats" name="number_of_seats"><br>
        
        <label for="type">Type:</label>
        <select id="type" name="type">
            {% for car_type in car_types %}
            <option value="{{car_type}}">{{car_type}}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Search">
    </form>

{% endblock %}